@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
:root {
  --ff-primary-body: 'Poppins', sans-serif;
  --ff-primary-head: 'Orbitron', sans-serif;
  --ff-secondary-head: 'Oxanium', cursive;
  --bg-header: #eb4034;
  --bg-menu-overlay: #c22419;
  --container-bg: #fce1df;
}

.interactive-container {
  font-family: var(--ff-primary-body);
  min-height: 80vh;
  background-color: white;
  overflow-x: hidden;
}

.interactive-section {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1fr;
      grid-template-columns: 0.9fr 1fr;
  gap: 2rem;
}

.interactive-text {
  width: 100%;
  position: relative;
}

.interactive-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.interactive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform ease-in-out 0.7s;
  transition: -webkit-transform ease-in-out 0.7s;
  transition: transform ease-in-out 0.7s;
  transition: transform ease-in-out 0.7s, -webkit-transform ease-in-out 0.7s;
}

.interactive-image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.interactive-text-head {
  width: 100%;
  background-color: var(--bg-menu-overlay);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}

.interactive-text-head h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

.interactive-text-content {
  min-height: 450px;
  height: inherit;
  width: 100%;
}

summary {
  cursor: pointer;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

summary div {
  width: 100%;
  padding: 1rem 0;
}

summary div h5 {
  font-size: 1.05rem;
  font-weight: 500;
}

summary::before {
  content: '+';
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
}

details[open] summary::before {
  content: '-';
  font-size: 1.75rem;
}

details {
  margin-right: 1rem;
  border-bottom: 1px solid var(--bg-menu-overlay);
}

details p {
  line-height: 1.75rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  font-size: 0.95rem;
  text-align: justify;
}

.faqs-button-container {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-right: 2rem;
  margin-top: -1.5rem;
}

.faqs-button-container a {
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--ff-secondary-head);
  font-weight: 700;
}

.faqs-button {
  cursor: pointer;
  font-size: 0.95rem;
  color: white;
  font-weight: 600;
  padding: 10px 40px;
  background-color: var(--bg-menu-overlay);
  border: 1px solid var(--bg-menu-overlay);
  -webkit-transition: background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms, -webkit-box-shadow ease-in-out 500ms;
  transition: background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms, -webkit-box-shadow ease-in-out 500ms;
  transition: box-shadow ease-in-out 500ms, background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms;
  transition: box-shadow ease-in-out 500ms, background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms, -webkit-box-shadow ease-in-out 500ms;
  z-index: 1;
}
