@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
:root {
  --ff-primary-body: 'Poppins', sans-serif;
  --ff-primary-head: 'Orbitron', sans-serif;
  --ff-secondary-head: 'Oxanium', cursive;
  --bg-header: #eb4034;
  --bg-menu-overlay: #c22419;
  --container-bg: #fce1df;
}

*,
h1,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-page-container {
  min-height: calc(100vh - 94px);
  margin-bottom: 0;
  width: 90%;
  position: relative;
  background-color: white;
  margin: 0 auto;
  font-family: var(--ff-primary-body);
}

.landing-img img {
  height: calc(100vh - 98px);
  margin-bottom: -8px;
}

.landing-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  height: calc(100vh - 90px);
  position: relative;
  width: 100%;
}

.landing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
}

.landing-text h1 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  z-index: 2;
}

.landing-text h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  margin-top: 2rem;
  z-index: 2;
}

.landing-text p {
  margin-top: 1.5rem;
  z-index: 2;
  padding-right: 15%;
  padding-left: 15%;
}

.landing-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.landing-img img {
  z-index: 3;
}

.landing-about {
  position: relative;
  z-index: 1;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px;
}

.landing-about a {
  text-decoration: none;
  font-size: 1.15rem;
  font-family: var(--ff-secondary-head);
  font-weight: 700;
}

.landing-about-button {
  color: white;
  font-weight: 600;
  padding: 15px 40px;
  background-color: var(--bg-menu-overlay);
  border: 1px solid var(--bg-menu-overlay);
  -webkit-transition: background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms, -webkit-box-shadow ease-in-out 500ms;
  transition: background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms, -webkit-box-shadow ease-in-out 500ms;
  transition: box-shadow ease-in-out 500ms, background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms;
  transition: box-shadow ease-in-out 500ms, background-color ease-in-out 500ms, color ease-in-out 500ms, border ease-in-out 500ms, -webkit-box-shadow ease-in-out 500ms;
}

.landing-about-button:hover {
  -webkit-box-shadow: 0px 2px 1px black;
          box-shadow: 0px 2px 1px black;
  background-color: white;
  color: black;
  border: 1px solid var(--bg-menu-overlay);
}

.h1-stand-out {
  color: var(--bg-menu-overlay);
}

.landing-blob-left {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
}

.landing-blob-right {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.landing-blob-left img {
  width: 70%;
}

.landing-blob-right img {
  width: 100%;
}
