@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
:root {
  --ff-primary-body: 'Poppins', sans-serif;
  --ff-primary-head: 'Orbitron', sans-serif;
  --ff-secondary-head: 'Oxanium', cursive;
  --bg-header: #eb4034;
  --bg-menu-overlay: #c22419;
  --container-bg: #fce1df;
}

.partners-container {
  font-family: var(--ff-primary-body);
  min-height: 30vh;
  overflow-x: hidden;
  margin: 3rem 0;
}

.partners-head {
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners-head h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--bg-menu-overlay);
  text-shadow: 0px 1px 1px black;
}

.our-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  height: 120px;
  position: relative;
  margin-bottom: 3rem;
}

.partners-slide {
  height: 65px;
  height: 80px;
  background-color: white;
  margin: 0 1.5rem;
  margin: 0 1.5rem;
}

.prev,
.next {
  position: absolute;
  padding: 0 1rem;
  font-size: 1.15rem;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: white;
}

.prev {
  left: 2.5%;
}

.next {
  right: 2.5%;
}

.partners-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  overflow: hidden;
}

.partners-slide img {
  height: 100%;
  width: auto;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  scale: 0.9;
}

.partners-slide img:hover {
  scale: 1.15;
  scale: 1;
}
